@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.addBookForm {
    width: 400px;
}

.addBookFormContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    height: 423px;
    width: 400px;
}

.gap {
    margin-top: 15px;
}

.addBookFormContainer button {
    border: none;
    margin-top: 35px;
    width: 100px;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

.addBookBtnNotActive {
    background-color: #ccc;
}

.addBookBtnActive {
    background-color: #2d80ea;
    color: #fff;
}

.addBookBtnActive:hover {
    background-color: #256ac2;
    cursor: pointer;
}

.deleteBtn {
    background: #d92312;
    color: #fff;
    border: none;
    width: 50px;
    height: 23px;
    border-radius: 3px;
}

.deleteBtn:hover {
    cursor: pointer;
    background: #b71e10;
}

.editBtn {
    margin-left: 6px;
    background: #2d80ea;
    color: #fff;
    border: none;
    width: 50px;
    height: 23px;
    border-radius: 3px;
}

.editBtn:hover {
    background: #2366bb;
    cursor: pointer;
}

.editBox {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.editTextFieldContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50px;
    max-width: 790px;
}

.editBtnContainer {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}

.number-textarea {
    width: 65px;
}

.editBtnContainer button {
    width: 50px;
    height: 30px;
    border-radius: 3px;
    border: none;
    color: #fff;
}

.editBtnContainer .btn1 {
    background: #75d0e8;
}

.editBtnContainer .btn2 {
    margin-left: 10px;
    background: #7e28e0;
}

.editBtnContainer .btn1:hover {
    background: #60abbe;
    cursor: pointer;
}

.editBtnContainer .btn2:hover {
    cursor: pointer;
    background: #592296;
}

.applicantForm {
    margin-top: 13%;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.applicantForm .textfield {
   width: 400px;
}

.applicantForm .msg {
    margin-top: 3px;
    margin-left: 6px;
    font-size: 13px;
    color: #e82323;
}

.applicantForm h1 {
    font-weight: bold;
    font-family: 'LeferiPoint-WhiteObliqueA';
    text-align: center;
    font-size: 22px;
}

.applicantForm button {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 3px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.applicantBtnNotActive {
    background: #ccc;
}

.applicantBtnActive {
    background-color: #2a79e3;
    color: #fff;
}

.applicantBtnActive:hover {
    cursor: pointer;
}

.acceptBtn {
    background: #1fb33f;
    color: #fff;
}

.cancelBtn {
    margin-left: 5px;
    background: #e44922;
    color: #fff;
}

.acceptBtn:hover {
    background: #16812d;
    cursor: pointer;
}

.cancelBtn:hover {
    background: #b43a1b;
    cursor: pointer;
}


.approvalBtn {
    width: 55px;
    height: 30px;
    border: none;
    border-radius: 3px;
}

.noDataBox {
    height: 100%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.noDataBox div {
    font-family: 'NanumSquareRound';
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.noDataBox button {
    font-size: 13px;
    background: #f2d100;
    color: #171717;
    border: none;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    width: 100px;
    height: 40px;
    display: block;
    transform: translateY(-50%);
}

.noDataBox button:hover {
    background: #d7bc00;
    cursor: pointer;
}

.moreInfo {
    margin-left: 2px;
    color: #38add5;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background: #fff;
}

.moreInfo:hover {
    cursor: pointer;
    color: #0079ab;
}